.footer_cont{
    background-color: rgb(246, 4, 101);
    flex: 0 0 auto;
    margin-top: auto;    
    text-align: center;
}
#footer{
    color: white;
    padding-top: 5px;
    font-size: 15px;
    font-family: century gothic;
    font-weight: bold;
}