.header{
    background-color: rgb(246, 4, 101);
    flex: 0 0 auto;
    margin-bottom: auto;
    text-align: center;
}
#heading1{
    font-size: 70px;
    font-weight: bold;
    color: white;
}
#heading2{
    font-size: 22px;
    color: white;
    line-height: 1px;
}
#gif{
    height: 100px;
}